<div class="text-center my-0" id="quote">
    <h3 class="text-center">CAREERS</h3>
    <p>
        IF YOU ARE INTERESTED IN EMPLOYMENT PLEASE CONTACT VIA EMAIL: <b>atlfreightlogisticssol@gmail.com</b>
    </p>
</div>