<div id="about">
    <h3 class="text-center">WHAT WE DO</h3>
    <p>
     We work directly with shippers, brokers, carriers, and owner operators to 
     help dispatch and get loads from point A to B swiftly and within a timely 
     manner with great communication and understanding of the needs of all parties 
     to ensure a safe, secured delivery. NO forced contract or services!!!
    </p>
</div>