<div id="company-info" class="row no-gutters">
  <p class="text-center col-md-4"><i class="fas fa-map-marker-alt"></i> Atlanta, GA</p>
  <p class="text-center col-md-4"><i class="fas fa-envelope"></i> atlfreightlogisticssol@gmail.com</p>
  <p class="text-center col-md-4"><i class="fas fa-phone-square"></i> 404.720.5024</p>
</div>