<div id="services">
  <h3 class="text-center">WHAT WE OFFER</h3>
  <div>
    <ul>
      <li>safety and compliance</li>
      <li>24/7 dispatching</li>
      <li>rate negation</li>
      <li>billing/invoicing</li>
      <li>LET US HELP</li>
    </ul>
  </div>
</div>