<div id="trailers">
    <h3 class="text-center">WE WORK WITH ALL TRAILER TYPES</h3>
    <ul>
        <li>dry vans</li>
        <li>reefer</li>
        <li>box trucks</li>
        <li>cargo/sprinter vans</li>
        <li>hot shot</li>
        <li>power only</li>
    </ul>
</div>