<div id="trailers">
    <h3 class="text-center">WE WORK WITH ALL TRAILER TYPES</h3>
    <ul>
        <li>dry vans</li>
        <li>flat beds (48' & 53')</li>
        <li>box trucks (otr only)</li>
        <li>cargo/sprinter vans</li>
        <li>power only</li>
    </ul>
</div>